/* Main body and html style */
html {
    font-family: "Lucida Sans", sans-serif;
    background-color: #fff;
}

body{
  margin-top: 0em;
}

.column:last-child, .columns:last-child{
  float: left;
}

* {
    box-sizing: border-box;
}
.row::after {
    content:"";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 1em;
}

[class*="col-"] {
    width: 100%;
}

h1{
    margin-top: 0em;
    width: 100%;
}

div.container {
    text-align: left;

}

/* Style for the navigation menu. */
.top-bar{
    background-color: #333;
}

li{
  padding: 5px;
    background-color: #333;
}

.menu-text{
    color: #fff;
}

.menu a{
    color: #fff;
}

a:focus, a:hover {
    color: #1468a0;
}

/* Style for the lab selection menu. */

.tabs-title{
    background-color: #fff;
}

.column.row.row, .row.row.columns{
    float: inherit;
}

/* Lab correcting style */

.listStyle{
    background-color: #fff;
}

/* Lab 2 image style */

.images{
    width: 100%;
    height: 60%;
    padding: 0.3em 0.3em 0.3em 0.3em;
}

/* Lab 3 styles */

#chatbox{
    max-height: 100em;
    padding: 1em;
    overflow-y: scroll;
    background-color: #aaa;
}

#video{
    width: 100%;
}

#volumeSlider{
    margin-top: 1em;
}

/* Lab 4 styles */

#canvas{
    background-color: lightgrey;
}

#gamecanvas{
    background-color: lightgrey;
}

/* Lab 6 image style */

img{
    width: 13em;
    height: 13em;
    padding: 0.3em 0.3em 0.3em 0.3em;
}

.img-cropped{
    object-fit: contain;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
/* For desktop: */
@media only screen and (min-width: 768px) {

    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
